@page "/"

<div title="this should @@ work"></div>
<EditForm Model="Model">
    <label >Email</label>
    <InputText @bind-Value="Model.Email" placeholder="email@@provider.com" />
</EditForm>

@code {
    public class InputModel
    {
        public string Email { get; set; } = default!;
    }
    public InputModel Model { get; set; } = new();
}
